.Todo{
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    max-width: 100%;
    padding: 0px 15px 0px 25px;
    border-radius: 13px;
    margin: 15px 0px;
}

.TodoButtons{
    display: flex;
    align-items:center;
}
.TodoButtons button{
    margin-left: 5px;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: white;
    cursor: pointer;
    width: 30px;
}

#delete{
    font-weight: bold;
}

#delete:hover{
    background-color: #FF0000;
}
.startHide{
    display: none;
}
#start{
    color: #0060D1;
}

#start:hover{
    color: white;
    background-color: #0060D1;
}

.Heading{
    margin-top: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 22px;
}

.TodoDoingDone{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.InnerTodoDivs{
    margin: 0px 10px;
}

.left{
    border-left: 18px solid #FF0000;
    background-color: #FFD4D4;
}

.middle{
    border-left: 18px solid #FFC700;
    background-color: #FFF2C3;
}

.right{
    border-left: 18px solid #4EF200;
    background-color: #D7FFC5;
}

.deleteHide{
    display: none;
}

#postpone{
    color: #0060D1;
}

#postpone:hover{
    color: white;
    background-color: #0060D1;
}

.postponeHide{
    display: none;
}